<?xml version="1.0" ?>
<robot name="couch_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="world" />

    <link name="couch_link">
        <visual>
            <origin rpy="0 0 0" xyz="-1.5575628280639648 1.7635917663574219 -0.9648744463920593"/>
            <geometry>
                <mesh filename="klippan_sofa.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="-1.5575628280639648 1.7635917663574219 -0.9648744463920593"/>
            <geometry>
                <mesh filename="klippan_sofa.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="30.455"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="0.6022" ixy="-0.02364" ixz="-0.1197" iyy="1.7386" iyz="-0.001544" izz="2.0296"/>
        </inertial>
    </link>

    <joint name="joint_structure" type="fixed">
        <origin xyz="1.100 -1.850 -2.100" rpy="1.57079 0 0" />
        <parent link="world" />
        <child link="couch_link" />
    </joint>

</robot>
